<header class="sections">
    <ul class="sections-links">
      <li><button type="button">World</button></li>
      <li><button type="button">San Francisco</button></li>
      <li><button type="button">New York</button></li>
      <li><button type="button">Jumpstart</button></li>
      <li><button type="button">Online</button></li>
      <li><button type="button">Marketing</button></li>
      <li><button type="button">Sales</button></li>
      <li><button type="button">TalentMatch</button></li>
      <li><button type="button">Alumni</button></li>
      <li><button type="button">All</button></li>
    </ul>
